USE [master]
GO
/****** Object:  Database [QuanLyMuonSach]    Script Date: 9/14/2026 1:41:57 PM ******/
CREATE DATABASE [QuanLyMuonSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyMuonSach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyMuonSach.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyMuonSach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyMuonSach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyMuonSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyMuonSach]
GO
/****** Object:  UserDefinedTableType [dbo].[DanhSachCuonSachType]    Script Date: 9/14/2026 1:41:57 PM ******/
CREATE TYPE [dbo].[DanhSachCuonSachType] AS TABLE(
	[MaCuonSach] [varchar](10) NOT NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[DanhSachTraSachType]    Script Date: 9/14/2026 1:41:57 PM ******/
CREATE TYPE [dbo].[DanhSachTraSachType] AS TABLE(
	[MaCuonSach] [varchar](10) NOT NULL,
	[TinhTrang] [varchar](20) NOT NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DemPhieuDatTruocChoNhan]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_DemPhieuDatTruocChoNhan] (
    @p_MaDG VARCHAR(10)
)
RETURNS INT
AS
BEGIN
    DECLARE @v_Count INT;
    SELECT @v_Count = COUNT(*)
    FROM PhieuDatTruoc
    WHERE MaDG = @p_MaDG AND TrangThai = 'ChoNhan';
    RETURN ISNULL(@v_Count, 0);
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DemSachDangMuon]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_DemSachDangMuon] (@p_MaDG VARCHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @v_SoLuong INT;
    SELECT @v_SoLuong = COUNT(ct.MaCuonSach)
    FROM PhieuMuon pm
    JOIN CT_PhieuMuon ct ON pm.MaPhieuMuon = ct.MaPhieuMuon
    WHERE pm.MaDG = @p_MaDG
      AND pm.TrangThai IN ('DangMuon', 'QuaHan')
      AND ct.TinhTrangSachKhiTra = 'ChuaTra';
    RETURN @v_SoLuong;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KiemTraDocGiaDangGiuDauSach]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Functions chuẩn hóa
CREATE   FUNCTION [dbo].[fn_KiemTraDocGiaDangGiuDauSach] (
    @p_MaDG   VARCHAR(10),
    @p_MaSach VARCHAR(10)
)
RETURNS BIT
AS
BEGIN
    DECLARE @v_DangGiu BIT = 0;
    IF EXISTS (
        SELECT 1
        FROM CT_PhieuMuon ct
        JOIN PhieuMuon pm ON ct.MaPhieuMuon = pm.MaPhieuMuon
        JOIN CuonSach cs ON ct.MaCuonSach = cs.MaCuonSach
        WHERE pm.MaDG = @p_MaDG 
          AND cs.MaSach = @p_MaSach 
          AND ct.TinhTrangSachKhiTra = 'ChuaTra'
    )
        SET @v_DangGiu = 1;
    RETURN @v_DangGiu;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KiemTraDuDieuKienMuon]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fn_KiemTraDuDieuKienMuon] (@p_MaDG VARCHAR(10))
RETURNS NVARCHAR(100)
AS
BEGIN
    DECLARE @v_TrangThai VARCHAR(20);
    DECLARE @v_SoSachDangMuon INT;
    DECLARE @v_GioiHan INT = 3;
    SELECT @v_TrangThai = TrangThai FROM DocGia WHERE MaDG = @p_MaDG;
    SET @v_SoSachDangMuon = dbo.fn_DemSachDangMuon(@p_MaDG);
    RETURN CASE 
        WHEN @v_TrangThai <> 'ConHan' THEN N'Không đủ điều kiện: thẻ không còn hạn sử dụng'
        WHEN @v_SoSachDangMuon >= @v_GioiHan THEN N'Không đủ điều kiện: đã mượn tối đa số sách cho phép'
        ELSE N'Đủ điều kiện mượn sách'
    END;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhSoNgayTre]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Function 3: Tính số ngày trễ hạn của 1 phiếu mượn (ĐÃ SỬA LỖI)
CREATE   FUNCTION [dbo].[fn_TinhSoNgayTre] (@p_MaPhieuMuon VARCHAR(10))
RETURNS INT
AS
BEGIN
    DECLARE @v_NgayHenTra DATE;
    DECLARE @v_NgaySoSanh DATE;
    DECLARE @v_SoNgayTre INT;
    SELECT TOP 1
        @v_NgayHenTra = pm.NgayHenTra,
        @v_NgaySoSanh = ISNULL(ct.NgayTraThucTe, CAST(GETDATE() AS DATE))
    FROM PhieuMuon pm
    JOIN CT_PhieuMuon ct ON pm.MaPhieuMuon = ct.MaPhieuMuon
    WHERE pm.MaPhieuMuon = @p_MaPhieuMuon
    ORDER BY ct.NgayTraThucTe DESC;
    SET @v_SoNgayTre = DATEDIFF(DAY, @v_NgayHenTra, @v_NgaySoSanh);
    RETURN CASE WHEN @v_SoNgayTre > 0 THEN @v_SoNgayTre ELSE 0 END;
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTienPhatTreHan]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Function 4: Tính tiền phạt trễ hạn
CREATE   FUNCTION [dbo].[fn_TinhTienPhatTreHan] (@p_SoNgayTre INT)
RETURNS DECIMAL(18,0)
AS
BEGIN
    RETURN @p_SoNgayTre * 5000;
END
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [varchar](10) NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[MaNXB] [varchar](10) NOT NULL,
	[MaTheLoai] [varchar](10) NOT NULL,
	[NamXB] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sach] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuonSach]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuonSach](
	[MaCuonSach] [varchar](10) NOT NULL,
	[MaSach] [varchar](10) NOT NULL,
	[MaVach] [varchar](50) NULL,
	[TinhTrang] [varchar](20) NOT NULL,
	[TrangThai] [varchar](20) NOT NULL,
	[ViTriKe] [nvarchar](50) NULL,
 CONSTRAINT [PK_CuonSach] PRIMARY KEY CLUSTERED 
(
	[MaCuonSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_SachConTrong]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 2: Số lượng bản sao còn trống theo từng đầu sách
CREATE   VIEW [dbo].[View_SachConTrong] AS
SELECT 
    s.MaSach, s.TenSach, 
    COUNT(cs.MaCuonSach) AS TongSoBanSao,
    SUM(CASE WHEN cs.TrangThai = 'CoSan' THEN 1 ELSE 0 END) AS SoBanConTrong
FROM Sach s
LEFT JOIN CuonSach cs ON s.MaSach = cs.MaSach
GROUP BY s.MaSach, s.TenSach;
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDG] [varchar](10) NOT NULL,
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[LoaiDocGia] [nvarchar](50) NOT NULL,
	[NgayDangKy] [date] NOT NULL,
	[TrangThai] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DocGia] PRIMARY KEY CLUSTERED 
(
	[MaDG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[MaPhieuMuon] [varchar](10) NOT NULL,
	[MaDG] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
	[NgayMuon] [date] NOT NULL,
	[NgayHenTra] [date] NOT NULL,
	[TrangThai] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuMuon]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuMuon](
	[MaPhieuMuon] [varchar](10) NOT NULL,
	[MaCuonSach] [varchar](10) NOT NULL,
	[NgayTraThucTe] [date] NULL,
	[TinhTrangSachKhiTra] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CT_PhieuMuon] PRIMARY KEY CLUSTERED 
(
	[MaPhieuMuon] ASC,
	[MaCuonSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_PhieuQuaHan]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 3: Danh sách phiếu mượn quá hạn kèm thông tin độc giả
CREATE   VIEW [dbo].[View_PhieuQuaHan] AS
SELECT 
    pm.MaPhieuMuon, dg.HoTen, dg.SDT, dg.Email, s.TenSach, pm.NgayHenTra,
    DATEDIFF(DAY, pm.NgayHenTra, CAST(GETDATE() AS DATE)) AS SoNgayTre
FROM PhieuMuon pm
JOIN DocGia dg ON pm.MaDG = dg.MaDG
JOIN CT_PhieuMuon ct ON pm.MaPhieuMuon = ct.MaPhieuMuon
JOIN CuonSach cs ON ct.MaCuonSach = cs.MaCuonSach
JOIN Sach s ON cs.MaSach = s.MaSach
WHERE pm.TrangThai IN ('DangMuon', 'QuaHan') AND ct.TinhTrangSachKhiTra = 'ChuaTra' AND pm.NgayHenTra < CAST(GETDATE() AS DATE);
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [varchar](10) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_TheLoai] PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_ThongKeTheoTheLoai]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View 4: Thông kê số lượt mượn theo thể loại
CREATE   VIEW [dbo].[View_ThongKeTheoTheLoai] AS
SELECT 
    tl.TenTheLoai, COUNT(pm.MaPhieuMuon) AS SoLuotMuon
FROM TheLoai tl
JOIN Sach s ON tl.MaTheLoai = s.MaTheLoai
JOIN CuonSach cs ON s.MaSach = cs.MaSach
JOIN CT_PhieuMuon ct ON cs.MaCuonSach = ct.MaCuonSach
JOIN PhieuMuon pm ON ct.MaPhieuMuon = pm.MaPhieuMuon
GROUP BY tl.MaTheLoai, tl.TenTheLoai;
GO
/****** Object:  View [dbo].[View_ChiTietSachMuon]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_ChiTietSachMuon] AS
SELECT ct.MaCuonSach, s.TenSach, 'ConTot' AS TinhTrang, ct.MaPhieuMuon, ct.TinhTrangSachKhiTra
FROM CT_PhieuMuon ct 
JOIN CuonSach cs ON ct.MaCuonSach = cs.MaCuonSach 
JOIN Sach s ON cs.MaSach = s.MaSach;
GO
/****** Object:  Table [dbo].[PhieuDatTruoc]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatTruoc](
	[MaPhieuDatTruoc] [varchar](10) NOT NULL,
	[MaDG] [varchar](10) NOT NULL,
	[MaSach] [varchar](10) NOT NULL,
	[NgayDat] [date] NOT NULL,
	[TrangThai] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PhieuDatTruoc] PRIMARY KEY CLUSTERED 
(
	[MaPhieuDatTruoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DanhSachDatTruoc_ThuThu]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_DanhSachDatTruoc_ThuThu] AS
SELECT pdt.MaPhieuDatTruoc, pdt.MaDG, dg.HoTen AS TenDocGia, s.MaSach, s.TenSach, pdt.NgayDat, pdt.TrangThai 
FROM PhieuDatTruoc pdt 
JOIN DocGia dg ON pdt.MaDG = dg.MaDG 
JOIN Sach s ON pdt.MaSach = s.MaSach;
GO
/****** Object:  View [dbo].[View_SachCoSan]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_SachCoSan] AS
SELECT cs.MaCuonSach, CONCAT(cs.MaCuonSach, ' - ', s.TenSach, N' (Vị trí: ', ISNULL(cs.ViTriKe, N'Chưa rõ'), ')') AS DisplayText,
       s.MaSach, s.TenSach, cs.ViTriKe, cs.TrangThai, cs.TinhTrang
FROM CuonSach cs 
JOIN Sach s ON cs.MaSach = s.MaSach;
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[MaRole] [varchar](10) NOT NULL,
	[TenRole] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[MaRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[MaRole] [varchar](10) NOT NULL,
	[TrangThai] [varchar](20) NOT NULL,
	[NgayTao] [date] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_TaiKhoan_Role]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_TaiKhoan_Role] AS
SELECT tk.MaTaiKhoan, tk.TenDangNhap, r.MaRole, r.TenRole, tk.TrangThai, tk.NgayTao 
FROM TaiKhoan tk 
JOIN Role r ON tk.MaRole = r.MaRole;
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[MaNXB] [varchar](10) NOT NULL,
	[TenNXB] [nvarchar](150) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [varchar](15) NULL,
 CONSTRAINT [PK_NhaXuatBan] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DanhSachDauSach]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_DanhSachDauSach] AS
SELECT s.MaSach, s.TenSach, nxb.TenNXB, tl.TenTheLoai, s.NamXB, s.MaNXB, s.MaTheLoai
FROM Sach s 
JOIN NhaXuatBan nxb ON s.MaNXB = nxb.MaNXB 
JOIN TheLoai tl ON s.MaTheLoai = tl.MaTheLoai;
GO
/****** Object:  View [dbo].[View_LichSuDatTruoc_DocGia]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_LichSuDatTruoc_DocGia] AS
SELECT pdt.MaPhieuDatTruoc, pdt.MaDG, s.TenSach, pdt.NgayDat, pdt.TrangThai 
FROM PhieuDatTruoc pdt 
JOIN Sach s ON pdt.MaSach = s.MaSach;
GO
/****** Object:  View [dbo].[View_LichSuMuon_DocGia]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_LichSuMuon_DocGia] AS
SELECT pm.MaPhieuMuon, pm.MaDG, s.TenSach, cs.MaCuonSach, pm.NgayMuon, pm.NgayHenTra, ct.NgayTraThucTe, pm.TrangThai, ct.TinhTrangSachKhiTra
FROM PhieuMuon pm 
JOIN CT_PhieuMuon ct ON pm.MaPhieuMuon = ct.MaPhieuMuon
JOIN CuonSach cs ON ct.MaCuonSach = cs.MaCuonSach 
JOIN Sach s ON cs.MaSach = s.MaSach;
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[MaTaiKhoan] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[ChucVu] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_QuanLyTaiKhoan_Admin]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   VIEW [dbo].[View_QuanLyTaiKhoan_Admin] AS SELECT v.MaTaiKhoan, v.TenDangNhap, v.TenRole, v.TrangThai, ISNULL(dg.TrangThai, N'—') AS TrangThaiThe, v.NgayTao, ISNULL(dg.HoTen, nv.HoTen) AS HoTenNguoiDung, ISNULL(dg.SDT, nv.SDT) AS SDT FROM View_TaiKhoan_Role v LEFT JOIN DocGia dg ON v.MaTaiKhoan = dg.MaTaiKhoan LEFT JOIN NhanVien nv ON v.MaTaiKhoan = nv.MaTaiKhoan;
GO
/****** Object:  View [dbo].[View_QuanLyKhoSach_Admin]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[View_QuanLyKhoSach_Admin] AS
SELECT v.MaSach, v.TenSach, v.TenNXB, v.TenTheLoai, v.NamXB,
       COUNT(cs.MaCuonSach) AS TongCuon,
       SUM(CASE WHEN cs.TrangThai = 'CoSan' THEN 1 ELSE 0 END) AS CoSan,
       SUM(CASE WHEN cs.TrangThai = 'DangMuon' THEN 1 ELSE 0 END) AS DangMuon
FROM View_DanhSachDauSach v
LEFT JOIN CuonSach cs ON v.MaSach = cs.MaSach
GROUP BY v.MaSach, v.TenSach, v.TenNXB, v.TenTheLoai, v.NamXB;
GO
/****** Object:  View [dbo].[View_DanhSachPhieuMuonHienHanh]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[View_DanhSachPhieuMuonHienHanh] AS
SELECT pm.MaPhieuMuon, dg.MaDG, dg.HoTen AS TenDocGia, pm.NgayMuon, pm.NgayHenTra, pm.TrangThai,
       dbo.fn_TinhSoNgayTre(pm.MaPhieuMuon) AS SoNgayTre
FROM PhieuMuon pm
JOIN DocGia dg ON pm.MaDG = dg.MaDG
WHERE pm.TrangThai IN ('DangMuon', 'QuaHan');
GO
/****** Object:  Table [dbo].[PhieuPhat]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuPhat](
	[MaPhieuPhat] [varchar](10) NOT NULL,
	[MaPhieuMuon] [varchar](10) NOT NULL,
	[LyDoPhat] [varchar](20) NOT NULL,
	[SoTienPhat] [decimal](18, 0) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TrangThaiThanhToan] [varchar](20) NOT NULL,
 CONSTRAINT [PK_PhieuPhat] PRIMARY KEY CLUSTERED 
(
	[MaPhieuPhat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_DanhSachPhieuPhat_ChiTiet]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[View_DanhSachPhieuPhat_ChiTiet] AS
SELECT pp.MaPhieuPhat, pp.MaPhieuMuon, dg.MaDG, dg.HoTen AS TenDocGia,
       pp.LyDoPhat, pp.SoTienPhat, pp.NgayLap, pp.TrangThaiThanhToan
FROM PhieuPhat pp
JOIN PhieuMuon pm ON pp.MaPhieuMuon = pm.MaPhieuMuon
JOIN DocGia dg ON pm.MaDG = dg.MaDG;
GO
/****** Object:  View [dbo].[View_LichSuPhat_DocGia]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[View_LichSuPhat_DocGia] AS
SELECT pp.MaPhieuPhat, pp.MaPhieuMuon, pm.MaDG, pp.LyDoPhat, pp.SoTienPhat, pp.NgayLap, pp.TrangThaiThanhToan
FROM PhieuPhat pp
JOIN PhieuMuon pm ON pp.MaPhieuMuon = pm.MaPhieuMuon;
GO
/****** Object:  View [dbo].[View_CuonSachTraVeChoDatTruoc]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[View_CuonSachTraVeChoDatTruoc] AS
SELECT DISTINCT v.MaCuonSach, v.DisplayText, v.MaSach
FROM View_SachCoSan v
JOIN PhieuDatTruoc pdt ON v.MaSach = pdt.MaSach
WHERE v.TrangThai = 'CoSan' AND v.TinhTrang = 'ConTot' AND pdt.TrangThai = 'DangCho';
GO
/****** Object:  View [dbo].[View_ThongTinDocGia_ChiTiet]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[View_ThongTinDocGia_ChiTiet] AS
SELECT dg.MaDG, dg.HoTen, dg.NgaySinh, dg.DiaChi, dg.SDT, dg.Email,
       dg.LoaiDocGia, dg.NgayDangKy, dg.TrangThai, tk.TenDangNhap
FROM DocGia dg
JOIN TaiKhoan tk ON dg.MaTaiKhoan = tk.MaTaiKhoan;
GO
/****** Object:  View [dbo].[View_ThongTinNhanVien_ChiTiet]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[View_ThongTinNhanVien_ChiTiet] AS
SELECT nv.MaNV, nv.HoTen, nv.ChucVu, nv.SDT, nv.Email, v.TenDangNhap
FROM NhanVien nv
JOIN View_TaiKhoan_Role v ON nv.MaTaiKhoan = v.MaTaiKhoan;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TraCuuViTriSach]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_TraCuuViTriSach] (
    @p_MaSach VARCHAR(10)
)
RETURNS TABLE
AS
RETURN (
    SELECT MaCuonSach, TinhTrang, TrangThai, ViTriKe
    FROM CuonSach
    WHERE MaSach = @p_MaSach
);
GO
/****** Object:  View [dbo].[View_ThongTinMuonSach]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================
-- 9. VIEW (KHUNG NHÌN)
-- ==========================================================
-- View 1: Thông tin mượn sách đầy đủ (ĐÃ SỬA MA_NV VÀ NGÀY TRẢ THỰC TẾ)
CREATE   VIEW [dbo].[View_ThongTinMuonSach] AS
SELECT 
    pm.MaPhieuMuon, dg.HoTen AS TenDocGia, s.TenSach, cs.MaCuonSach, 
    nv.HoTen AS NhanVienLapPhieu, 
    pm.NgayMuon, pm.NgayHenTra, ct.NgayTraThucTe, pm.TrangThai 
FROM PhieuMuon pm
JOIN DocGia dg ON pm.MaDG = dg.MaDG
JOIN CT_PhieuMuon ct ON pm.MaPhieuMuon = ct.MaPhieuMuon
JOIN CuonSach cs ON ct.MaCuonSach = cs.MaCuonSach
JOIN Sach s ON cs.MaSach = s.MaSach
JOIN NhanVien nv ON pm.MaNV = nv.MaNV; 
GO
/****** Object:  Table [dbo].[Sach_TacGia]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach_TacGia](
	[MaSach] [varchar](10) NOT NULL,
	[MaTacGia] [varchar](10) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sach_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC,
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 9/14/2026 1:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[MaTacGia] [varchar](10) NOT NULL,
	[TenTacGia] [nvarchar](100) NOT NULL,
	[QuocTich] [nvarchar](50) NULL,
	[TieuSu] [nvarchar](max) NULL,
 CONSTRAINT [PK_TacGia] PRIMARY KEY CLUSTERED 
(
	[MaTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CT_PhieuMuon] ([MaPhieuMuon], [MaCuonSach], [NgayTraThucTe], [TinhTrangSachKhiTra]) VALUES (N'PM_DEMO1', N'CS001', NULL, N'DaTra')
INSERT [dbo].[CT_PhieuMuon] ([MaPhieuMuon], [MaCuonSach], [NgayTraThucTe], [TinhTrangSachKhiTra]) VALUES (N'PM1_080027', N'CS001', CAST(N'2026-09-10' AS Date), N'ConTot')
INSERT [dbo].[CT_PhieuMuon] ([MaPhieuMuon], [MaCuonSach], [NgayTraThucTe], [TinhTrangSachKhiTra]) VALUES (N'PM1_080027', N'CS004', CAST(N'2026-09-10' AS Date), N'ConTot')
GO
INSERT [dbo].[CuonSach] ([MaCuonSach], [MaSach], [MaVach], [TinhTrang], [TrangThai], [ViTriKe]) VALUES (N'CS001', N'S001', N'BC-S001-01', N'ConTot', N'CoSan', N'K01-T01')
INSERT [dbo].[CuonSach] ([MaCuonSach], [MaSach], [MaVach], [TinhTrang], [TrangThai], [ViTriKe]) VALUES (N'CS002', N'S001', N'BC-S001-02', N'ConTot', N'CoSan', N'K01-T01')
INSERT [dbo].[CuonSach] ([MaCuonSach], [MaSach], [MaVach], [TinhTrang], [TrangThai], [ViTriKe]) VALUES (N'CS003', N'S001', N'BC-S001-03', N'ConTot', N'CoSan', N'K01-T01')
GO
INSERT [dbo].[DocGia] ([MaDG], [MaTaiKhoan], [HoTen], [NgaySinh], [DiaChi], [SDT], [Email], [LoaiDocGia], [NgayDangKy], [TrangThai]) VALUES (N'DG001', N'TK004', N'Nguyễn Xuân Sang', CAST(N'2003-05-15' AS Date), N'123 Cầu Giấy, Hà Nội', N'0987654321', N'xuansang@gmail.com', N'SinhVien', CAST(N'2024-02-01' AS Date), N'ConHan')
INSERT [dbo].[DocGia] ([MaDG], [MaTaiKhoan], [HoTen], [NgaySinh], [DiaChi], [SDT], [Email], [LoaiDocGia], [NgayDangKy], [TrangThai]) VALUES (N'DG002', N'TK005', N'Trần Minh Tuấn', CAST(N'2002-08-20' AS Date), N'45 Giải Phóng, Hà Nội', N'0978123456', N'minhtuan@gmail.com', N'SinhVien', CAST(N'2024-02-15' AS Date), N'ConHan')
INSERT [dbo].[DocGia] ([MaDG], [MaTaiKhoan], [HoTen], [NgaySinh], [DiaChi], [SDT], [Email], [LoaiDocGia], [NgayDangKy], [TrangThai]) VALUES (N'DG003', N'TK006', N'Hoàng Thị Mai', CAST(N'1995-11-30' AS Date), N'88 Nguyễn Trãi, Hà Nội', N'0965987654', N'hoangmai@gmail.com', N'GiangVien', CAST(N'2024-03-01' AS Date), N'ConHan')
GO
INSERT [dbo].[NhanVien] ([MaNV], [MaTaiKhoan], [HoTen], [ChucVu], [SDT], [Email]) VALUES (N'NV001', N'TK001', N'Trần Văn Quản Trị', N'Trưởng phòng Thư viện', N'0901234567', N'admin@thuvien.edu.vn')
INSERT [dbo].[NhanVien] ([MaNV], [MaTaiKhoan], [HoTen], [ChucVu], [SDT], [Email]) VALUES (N'NV002', N'TK002', N'Lê Thị Thủ Thư', N'Thủ thư chính', N'0912345678', N'thuthu1@thuvien.edu.vn')
INSERT [dbo].[NhanVien] ([MaNV], [MaTaiKhoan], [HoTen], [ChucVu], [SDT], [Email]) VALUES (N'NV003', N'TK003', N'Nguyễn Văn Hỗ Trợ', N'Thủ thư ca tối', N'0923456789', N'thuthu2@thuvien.edu.vn')
GO
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SDT]) VALUES (N'NXB01', N'NXB Trẻ', N'161B Lý Chính Thắng, Quận 3, TP.HCM', N'02839316289')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SDT]) VALUES (N'NXB02', N'NXB Kim Đồng', N'55 Quang Trung, Hai Bà Trưng, Hà Nội', N'02439434730')
INSERT [dbo].[NhaXuatBan] ([MaNXB], [TenNXB], [DiaChi], [SDT]) VALUES (N'NXB03', N'NXB Lao Động - Xã Hội', N'41 Lý Thái Tổ, Hoàn Kiếm, Hà Nội', N'02438254423')
GO
INSERT [dbo].[PhieuDatTruoc] ([MaPhieuDatTruoc], [MaDG], [MaSach], [NgayDat], [TrangThai]) VALUES (N'PDT113027', N'DG002', N'S001', CAST(N'2026-08-23' AS Date), N'DaHuy')
INSERT [dbo].[PhieuDatTruoc] ([MaPhieuDatTruoc], [MaDG], [MaSach], [NgayDat], [TrangThai]) VALUES (N'PDT113517', N'DG002', N'S001', CAST(N'2026-08-23' AS Date), N'DaXuLy')
INSERT [dbo].[PhieuDatTruoc] ([MaPhieuDatTruoc], [MaDG], [MaSach], [NgayDat], [TrangThai]) VALUES (N'PDT124512', N'DG002', N'S010', CAST(N'2026-08-29' AS Date), N'DaHuy')
GO
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDG], [MaNV], [NgayMuon], [NgayHenTra], [TrangThai]) VALUES (N'PM_DEMO1', N'DG001', N'NV001', CAST(N'2026-09-08' AS Date), CAST(N'2026-09-22' AS Date), N'DaTra')
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDG], [MaNV], [NgayMuon], [NgayHenTra], [TrangThai]) VALUES (N'PM1_080027', N'DG002', N'NV001', CAST(N'2026-09-10' AS Date), CAST(N'2026-09-24' AS Date), N'DaTra')
INSERT [dbo].[PhieuMuon] ([MaPhieuMuon], [MaDG], [MaNV], [NgayMuon], [NgayHenTra], [TrangThai]) VALUES (N'PM1_091855', N'DG002', N'NV001', CAST(N'2026-09-10' AS Date), CAST(N'2026-09-24' AS Date), N'DaTra')
GO
INSERT [dbo].[PhieuPhat] ([MaPhieuPhat], [MaPhieuMuon], [LyDoPhat], [SoTienPhat], [NgayLap], [TrangThaiThanhToan]) VALUES (N'PP1629', N'PM_DEMO1', N'Ph?t hu h?ng nh?', CAST(50000 AS Decimal(18, 0)), CAST(N'2026-09-11' AS Date), N'DaThanhToan')
INSERT [dbo].[PhieuPhat] ([MaPhieuPhat], [MaPhieuMuon], [LyDoPhat], [SoTienPhat], [NgayLap], [TrangThaiThanhToan]) VALUES (N'PP3195', N'PM115632', N'HuHong', CAST(30000 AS Decimal(18, 0)), CAST(N'2026-08-23' AS Date), N'DaThanhToan')
INSERT [dbo].[PhieuPhat] ([MaPhieuPhat], [MaPhieuMuon], [LyDoPhat], [SoTienPhat], [NgayLap], [TrangThaiThanhToan]) VALUES (N'PP7836', N'PM113421', N'HuHong', CAST(30000 AS Decimal(18, 0)), CAST(N'2026-08-23' AS Date), N'DaThanhToan')
GO
INSERT [dbo].[Role] ([MaRole], [TenRole], [MoTa]) VALUES (N'R001', N'Admin', N'Quản trị viên toàn quyền hệ thống')
INSERT [dbo].[Role] ([MaRole], [TenRole], [MoTa]) VALUES (N'R002', N'ThuThu', N'Nhân viên thủ thư quản lý mượn trả & kho sách')
INSERT [dbo].[Role] ([MaRole], [TenRole], [MoTa]) VALUES (N'R003', N'DocGia', N'Độc giả sử dụng dịch vụ mượn sách')
GO
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaNXB], [MaTheLoai], [NamXB], [MoTa]) VALUES (N'S001', N'Clean Code - Mã Sạch', N'NXB04', N'TL001', 2008, N'Cẩm nang nâng cao chất lượng mã nguồn và kỹ năng lập trình chuyên nghiệp')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaNXB], [MaTheLoai], [NamXB], [MoTa]) VALUES (N'S002', N'Đắc Nhân Tâm', N'NXB03', N'TL003', 1936, N'Nghệ thuật thu phục lòng người và dẫn đầu trong giao tiếp ứng xử')
INSERT [dbo].[Sach] ([MaSach], [TenSach], [MaNXB], [MaTheLoai], [NamXB], [MoTa]) VALUES (N'S003', N'Mắt Biếc', N'NXB01', N'TL004', 1990, N'Câu chuyện tình yêu tuổi học trò sâu lắng và đầy hoài niệm')
GO
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTacGia], [VaiTro]) VALUES (N'S001', N'TG001', N'Tác giả chính')
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTacGia], [VaiTro]) VALUES (N'S002', N'TG002', N'Tác giả chính')
INSERT [dbo].[Sach_TacGia] ([MaSach], [MaTacGia], [VaiTro]) VALUES (N'S003', N'TG003', N'Tác giả chính')
GO
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [QuocTich], [TieuSu]) VALUES (N'TG001', N'Robert C. Martin', N'Mỹ', N'Chuyên gia kỹ thuật phần mềm, tác giả nguyên lý SOLID')
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [QuocTich], [TieuSu]) VALUES (N'TG002', N'Dale Carnegie', N'Mỹ', N'Nhà văn, nhà diễn thuyết nổi tiếng về nghệ thuật đối nhân xử thế')
INSERT [dbo].[TacGia] ([MaTacGia], [TenTacGia], [QuocTich], [TieuSu]) VALUES (N'TG003', N'Nguyễn Nhật Ánh', N'Việt Nam', N'Nhà văn chuyên viết truyện thanh thiếu niên nổi tiếng hàng đầu Việt Nam')
GO
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [MaRole], [TrangThai], [NgayTao]) VALUES (N'TK001', N'admin', N'123456', N'R001', N'HoatDong', CAST(N'2024-01-01' AS Date))
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [MaRole], [TrangThai], [NgayTao]) VALUES (N'TK002', N'thuthu1', N'123456', N'R002', N'HoatDong', CAST(N'2024-01-05' AS Date))
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [MaRole], [TrangThai], [NgayTao]) VALUES (N'TK003', N'thuthu2', N'123456', N'R002', N'HoatDong', CAST(N'2024-01-10' AS Date))
GO
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (N'TL001', N'Công nghệ thông tin', N'Sách lập trình, kiến trúc phần mềm, cơ sở dữ liệu và AI')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (N'TL002', N'Khoa học viễn tưởng', N'Tiểu thuyết, truyện phiêu lưu và thế giới giả tưởng')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai], [MoTa]) VALUES (N'TL003', N'Kỹ năng sống & Phát triển', N'Tâm lý, giao tiếp, tư duy và phát triển bản thân')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_DocGia_MaTaiKhoan]    Script Date: 9/14/2026 1:41:57 PM ******/
ALTER TABLE [dbo].[DocGia] ADD  CONSTRAINT [UQ_DocGia_MaTaiKhoan] UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_NhanVien_MaTaiKhoan]    Script Date: 9/14/2026 1:41:57 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ_NhanVien_MaTaiKhoan] UNIQUE NONCLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Role_TenRole]    Script Date: 9/14/2026 1:41:57 PM ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [UQ_Role_TenRole] UNIQUE NONCLUSTERED 
(
	[TenRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_TenDangNhap]    Script Date: 9/14/2026 1:41:57 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_TenDangNhap] UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_PhieuMuon] ADD  DEFAULT ('ChuaTra') FOR [TinhTrangSachKhiTra]
GO
ALTER TABLE [dbo].[CuonSach] ADD  DEFAULT ('ConTot') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[CuonSach] ADD  DEFAULT ('CoSan') FOR [TrangThai]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT (N'SinhVien') FOR [LoaiDocGia]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DocGia] ADD  DEFAULT ('ConHan') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuDatTruoc] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NgayDat]
GO
ALTER TABLE [dbo].[PhieuDatTruoc] ADD  DEFAULT ('DangCho') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[PhieuMuon] ADD  DEFAULT ('DangMuon') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuPhat] ADD  DEFAULT ((0)) FOR [SoTienPhat]
GO
ALTER TABLE [dbo].[PhieuPhat] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NgayLap]
GO
ALTER TABLE [dbo].[PhieuPhat] ADD  DEFAULT ('ChuaThanhToan') FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[Sach_TacGia] ADD  DEFAULT (N'Đồng tác giả') FOR [VaiTro]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ('HoatDong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CT_PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_CuonSach] FOREIGN KEY([MaCuonSach])
REFERENCES [dbo].[CuonSach] ([MaCuonSach])
GO
ALTER TABLE [dbo].[CT_PhieuMuon] CHECK CONSTRAINT [FK_CTPhieuMuon_CuonSach]
GO
ALTER TABLE [dbo].[CT_PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuMuon_PhieuMuon] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PhieuMuon] ([MaPhieuMuon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CT_PhieuMuon] CHECK CONSTRAINT [FK_CTPhieuMuon_PhieuMuon]
GO
ALTER TABLE [dbo].[CuonSach]  WITH CHECK ADD  CONSTRAINT [FK_CuonSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[CuonSach] CHECK CONSTRAINT [FK_CuonSach_Sach]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [FK_DocGia_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [FK_DocGia_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([MaTaiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PhieuDatTruoc]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatTruoc_DocGia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DocGia] ([MaDG])
GO
ALTER TABLE [dbo].[PhieuDatTruoc] CHECK CONSTRAINT [FK_PhieuDatTruoc_DocGia]
GO
ALTER TABLE [dbo].[PhieuDatTruoc]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatTruoc_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[PhieuDatTruoc] CHECK CONSTRAINT [FK_PhieuDatTruoc_Sach]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_DocGia] FOREIGN KEY([MaDG])
REFERENCES [dbo].[DocGia] ([MaDG])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_DocGia]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK_PhieuMuon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK_PhieuMuon_NhanVien]
GO
ALTER TABLE [dbo].[PhieuPhat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuPhat_PhieuMuon] FOREIGN KEY([MaPhieuMuon])
REFERENCES [dbo].[PhieuMuon] ([MaPhieuMuon])
GO
ALTER TABLE [dbo].[PhieuPhat] CHECK CONSTRAINT [FK_PhieuPhat_PhieuMuon]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_NhaXuatBan] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NhaXuatBan] ([MaNXB])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_NhaXuatBan]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoai] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoai]
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD  CONSTRAINT [FK_SachTacGia_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sach_TacGia] CHECK CONSTRAINT [FK_SachTacGia_Sach]
GO
ALTER TABLE [dbo].[Sach_TacGia]  WITH CHECK ADD  CONSTRAINT [FK_SachTacGia_TacGia] FOREIGN KEY([MaTacGia])
REFERENCES [dbo].[TacGia] ([MaTacGia])
GO
ALTER TABLE [dbo].[Sach_TacGia] CHECK CONSTRAINT [FK_SachTacGia_TacGia]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_Role] FOREIGN KEY([MaRole])
REFERENCES [dbo].[Role] ([MaRole])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_Role]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [CK_PhieuMuon_NgayTra] CHECK  (([NgayHenTra]>=[NgayMuon]))
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [CK_PhieuMuon_NgayTra]
GO
ALTER TABLE [dbo].[PhieuPhat]  WITH CHECK ADD  CONSTRAINT [CK_PhieuPhat_SoTien] CHECK  (([SoTienPhat]>=(0)))
GO
ALTER TABLE [dbo].[PhieuPhat] CHECK CONSTRAINT [CK_PhieuPhat_SoTien]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [CK_Sach_NamXB] CHECK  (([NamXB]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [CK_Sach_NamXB]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoKiemKeKho]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BaoCaoKiemKeKho]
    @p_MaSach VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ COMMITTED; -- Mức cô lập mặc định
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Lần đọc 1: Đếm số cuốn sách đang có sẵn
        DECLARE @v_Lan1 INT;
        SELECT @v_Lan1 = COUNT(*) 
        FROM CuonSach 
        WHERE MaSach = @p_MaSach AND TrangThai = 'CoSan';

        -- Giữ giao tác kiểm kê trong 10 giây (trong thời gian này Thủ thư ở quầy khác cho mượn 1 cuốn)
        WAITFOR DELAY '00:00:10';

        -- Lần đọc 2: Đếm lại trong cùng một Transaction
        DECLARE @v_Lan2 INT;
        SELECT @v_Lan2 = COUNT(*) 
        FROM CuonSach 
        WHERE MaSach = @p_MaSach AND TrangThai = 'CoSan';

        COMMIT TRANSACTION;

        -- Trả về bảng kết quả so sánh
        SELECT 
            @p_MaSach AS [MaSach],
            @v_Lan1 AS [SoLuong_DocLan1],
            @v_Lan2 AS [SoLuong_DocLan2],
            CASE 
                WHEN @v_Lan1 <> @v_Lan2 THEN N'Phát hiện lỗi Non-Repeatable Read (Số lượng thay đổi giữa 2 lần đọc trong cùng 1 giao dịch!)'
                ELSE N'Dữ liệu nhất quán (Số lượng không đổi)'
            END AS [KetQuaPhanTich];
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTienPhat]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP 3: Báo cáo doanh thu tiền phạt
CREATE   PROCEDURE [dbo].[sp_BaoCaoTienPhat]
    @p_TuNgay DATE,
    @p_DenNgay DATE
AS
BEGIN
    SET NOCOUNT ON;
    SELECT LyDoPhat, COUNT(*) AS SoLuong, SUM(SoTienPhat) AS TongTien
    FROM PhieuPhat
    WHERE NgayLap BETWEEN @p_TuNgay AND @p_DenNgay 
      AND TrangThaiThanhToan = 'DaThanhToan'
    GROUP BY LyDoPhat;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoTongHopPhieuPhat]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BaoCaoTongHopPhieuPhat]
AS
BEGIN
    SET NOCOUNT ON;
    -- REPEATABLE READ: Khóa các dòng hiện hữu nhưng KHÔNG khóa khoảng trống (không chặn INSERT mới)
    SET TRANSACTION ISOLATION LEVEL REPEATABLE READ;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- Lần đếm 1: Tổng số phiếu phạt hiện tại
        DECLARE @v_Count1 INT;
        SELECT @v_Count1 = COUNT(*) FROM PhieuPhat;

        -- Chờ 10 giây xuất báo cáo (trong thời gian này có phiếu phạt mới được chèn)
        WAITFOR DELAY '00:00:10';

        -- Lần đếm 2: Đếm lại trong cùng một Transaction
        DECLARE @v_Count2 INT;
        SELECT @v_Count2 = COUNT(*) FROM PhieuPhat;

        COMMIT TRANSACTION;

        SELECT 
            @v_Count1 AS [TongPhieu_Lan1],
            @v_Count2 AS [TongPhieu_Lan2],
            CASE 
                WHEN @v_Count2 > @v_Count1 THEN N'Phát hiện dòng bóng ma (Phantom Read) do có bản ghi mới chèn vào dải dữ liệu!'
                ELSE N'Số lượng bản ghi không đổi'
            END AS [KetQuaPhanTich];
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatThongTinDocGia]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. SP Cập nhật thông tin Độc Giả
CREATE   PROCEDURE [dbo].[sp_CapNhatThongTinDocGia]
    @p_MaDG       VARCHAR(10),
    @p_HoTen      NVARCHAR(100),
    @p_NgaySinh   DATE,
    @p_DiaChi     NVARCHAR(200),
    @p_SDT        VARCHAR(15),
    @p_Email      VARCHAR(100),
    @p_MatKhauMoi VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        UPDATE DocGia
        SET HoTen = @p_HoTen,
            NgaySinh = @p_NgaySinh,
            DiaChi = @p_DiaChi,
            SDT = @p_SDT,
            Email = @p_Email
        WHERE MaDG = @p_MaDG;
        
        IF @p_MatKhauMoi IS NOT NULL AND LTRIM(RTRIM(@p_MatKhauMoi)) <> ''
        BEGIN
            UPDATE tk
            SET tk.MatKhau = @p_MatKhauMoi
            FROM TaiKhoan tk
            JOIN DocGia dg ON tk.MaTaiKhoan = dg.MaTaiKhoan
            WHERE dg.MaDG = @p_MaDG;
        END

        COMMIT TRANSACTION;
        SELECT N'Cập nhật thông tin cá nhân thành công!' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Cập nhật thông tin thất bại' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatThongTinNhanVien]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. SP Cập nhật thông tin Nhân Viên
CREATE   PROCEDURE [dbo].[sp_CapNhatThongTinNhanVien]
    @p_MaNV       VARCHAR(10),
    @p_HoTen      NVARCHAR(100),
    @p_SDT        VARCHAR(15),
    @p_Email      VARCHAR(100),
    @p_MatKhauMoi VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        UPDATE NhanVien
        SET HoTen = @p_HoTen,
            SDT = @p_SDT,
            Email = @p_Email
        WHERE MaNV = @p_MaNV;
        
        IF @p_MatKhauMoi IS NOT NULL AND LTRIM(RTRIM(@p_MatKhauMoi)) <> ''
        BEGIN
            UPDATE tk
            SET tk.MatKhau = @p_MatKhauMoi
            FROM TaiKhoan tk
            JOIN NhanVien nv ON tk.MaTaiKhoan = nv.MaTaiKhoan
            WHERE nv.MaNV = @p_MaNV;
        END

        COMMIT TRANSACTION;
        SELECT N'Cập nhật thông tin cá nhân thành công!' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Cập nhật thông tin thất bại' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTinhTrangCuonSach]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- GIAI PHAP CHO KICH BAN1:
CREATE   PROCEDURE [dbo].[sp_CapNhatTinhTrangCuonSach]
    @p_MaCuonSach  VARCHAR(10),
    @p_TinhTrang   NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        

        WAITFOR DELAY '00:00:05';
        UPDATE CuonSach
        SET TinhTrang = @p_TinhTrang
        WHERE MaCuonSach = @p_MaCuonSach;

        COMMIT TRANSACTION;
        SELECT N'Cập nhật sách thành công!' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DatLaiMatKhau]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DatLaiMatKhau]
    @p_MaTaiKhoan     VARCHAR(10),
    @p_MatKhauMacDinh VARCHAR(255) = '123456'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM TaiKhoan WITH (UPDLOCK) WHERE MaTaiKhoan = @p_MaTaiKhoan)
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS KetQua, N'Lỗi: Mã tài khoản không tồn tại!' AS ThongBao;
            RETURN;
        END

        UPDATE TaiKhoan 
        SET MatKhau = @p_MatKhauMacDinh 
        WHERE MaTaiKhoan = @p_MaTaiKhoan;

        COMMIT TRANSACTION;
        SELECT 1 AS KetQua, N'Đã reset mật khẩu tài khoản thành công về mặc định!' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS KetQua, ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DatTruocSach]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DatTruocSach]
    @p_MaPhieuDatTruoc VARCHAR(10),
    @p_MaDG            VARCHAR(10),
    @p_MaSach          VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @v_SoLuongCoSan INT;
    DECLARE @v_TrangThaiThe VARCHAR(20);
    BEGIN TRY
        BEGIN TRANSACTION;
        -- 1. Kiểm tra trạng thái thẻ độc giả
        SELECT @v_TrangThaiThe = TrangThai FROM DocGia WHERE MaDG = @p_MaDG;
        IF @v_TrangThaiThe <> 'ConHan'
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: Thẻ độc giả không còn hạn sử dụng hoặc đang bị khóa' AS ThongBao;
            RETURN;
        END
        -- 2. Kiểm tra xem độc giả đã có phiếu đặt trước nào cho đầu sách này đang chờ chưa
        IF EXISTS (SELECT 1 FROM PhieuDatTruoc WHERE MaDG = @p_MaDG AND MaSach = @p_MaSach AND TrangThai IN ('DangCho', 'ChoNhan'))
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: Bạn đã đặt trước đầu sách này rồi, vui lòng không đặt trùng lặp' AS ThongBao;
            RETURN;
        END
        -- 3. Kiểm tra xem trong kho còn cuốn nào 'CoSan' không
        SELECT @v_SoLuongCoSan = COUNT(*)
        FROM CuonSach WITH (UPDLOCK, ROWLOCK)
        WHERE MaSach = @p_MaSach AND TrangThai = 'CoSan';
        IF @v_SoLuongCoSan > 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Sách hiện vẫn còn bản sao có sẵn trên kệ, vui lòng mượn trực tiếp' AS ThongBao;
            RETURN;
        END
        -- 4. Tạo phiếu đặt trước đưa vào hàng chờ
        INSERT INTO PhieuDatTruoc (MaPhieuDatTruoc, MaDG, MaSach, NgayDat, TrangThai)
        VALUES (@p_MaPhieuDatTruoc, @p_MaDG, @p_MaSach, CAST(GETDATE() AS DATE), 'DangCho');
        COMMIT TRANSACTION;
        SELECT N'Đặt trước thành công! Bạn đã được xếp vào hàng chờ.' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Giao tác đặt trước thất bại' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoiTrangThaiTaiKhoan]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DoiTrangThaiTaiKhoan]
    @p_MaTaiKhoan   VARCHAR(10),
    @p_TrangThaiMoi VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM TaiKhoan WITH (UPDLOCK) WHERE MaTaiKhoan = @p_MaTaiKhoan)
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS KetQua, N'Lỗi: Mã tài khoản không tồn tại!' AS ThongBao;
            RETURN;
        END

        IF @p_TrangThaiMoi = 'HoatDong'
        BEGIN
            UPDATE DocGia 
            SET TrangThai = 'ConHan' 
            WHERE MaTaiKhoan = @p_MaTaiKhoan AND TrangThai = 'TamKhoa';
        END
        ELSE IF @p_TrangThaiMoi = 'Khoa'
        BEGIN
            UPDATE DocGia 
            SET TrangThai = 'TamKhoa' 
            WHERE MaTaiKhoan = @p_MaTaiKhoan;
        END

        COMMIT TRANSACTION;
        SELECT 1 AS KetQua, N'Đã cập nhật trạng thái tài khoản thành công!' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS KetQua, ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaoTacTraSachThuNghiem]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GiaoTacTraSachThuNghiem]
    @p_MaCuonSach VARCHAR(10),
    @p_CoLoiHoacHuy BIT = 1 -- 1: Khách hủy/Lỗi phạt -> Rollback
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        -- Tạm thời chuyển trạng thái sách sang CoSan
        UPDATE CuonSach 
        SET TrangThai = 'CoSan' 
        WHERE MaCuonSach = @p_MaCuonSach;

        -- CSDL tự động giữ Transaction trong 10 giây (mô phỏng thời gian chờ khách nộp tiền)
        WAITFOR DELAY '00:00:10';

        IF @p_CoLoiHoacHuy = 1
        BEGIN
            -- Khách không đủ tiền nộp phạt -> Hủy giao tác
            ROLLBACK TRANSACTION;
            SELECT N'Giao dịch trả sách đã bị HỦY (Rollback về DangMuon) do khách không đủ tiền nộp phạt!' AS ThongBao;
        END
        ELSE
        BEGIN
            COMMIT TRANSACTION;
            SELECT N'Giao dịch trả sách đã hoàn tất thành công!' AS ThongBao;
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_HuyGiuChoHetHan]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_HuyGiuChoHetHan]
    @p_MaPhieuDatTruoc VARCHAR(10),
    @p_MaCuonSach      VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @v_MaSach VARCHAR(10);
    BEGIN TRY
        BEGIN TRANSACTION;
        SELECT @v_MaSach = MaSach FROM PhieuDatTruoc WHERE MaPhieuDatTruoc = @p_MaPhieuDatTruoc;
        -- 1. Đánh dấu phiếu đặt trước này là 'DaHuy'
        UPDATE PhieuDatTruoc 
        SET TrangThai = 'DaHuy' 
        WHERE MaPhieuDatTruoc = @p_MaPhieuDatTruoc AND TrangThai = 'ChoNhan';
        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Phiếu đặt trước không ở trạng thái Chờ nhận hoặc không tồn tại' AS ThongBao;
            RETURN;
        END
        -- 2. Tái điều chuyển cuốn sách vừa bị nhả ra: Chuyển cho người tiếp theo hoặc trả về kệ
        EXEC sp_XuLyDatTruocKhiCoSach @p_MaCuonSach = @p_MaCuonSach;
        COMMIT TRANSACTION;
        SELECT N'Đã hủy giữ chỗ quá hạn và điều chuyển sách thành công!' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Hủy giữ chỗ thất bại' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LapPhieuMuon]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LapPhieuMuon]
    @p_MaPhieuMuon      VARCHAR(10),
    @p_MaDG             VARCHAR(10),
    @p_MaNV             VARCHAR(10), 
    @p_NgayHenTra       DATE,
    @p_DanhSachCuonSach dbo.DanhSachCuonSachType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @v_DieuKien NVARCHAR(200);
    DECLARE @v_SoLuongKhongSan INT;
    BEGIN TRY
        BEGIN TRANSACTION;
        SET @v_DieuKien = dbo.fn_KiemTraDuDieuKienMuon(@p_MaDG);
        IF @v_DieuKien <> N'Đủ điều kiện mượn sách'
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT @v_DieuKien AS ThongBao;
            RETURN;
        END
        SELECT @v_SoLuongKhongSan = COUNT(*)
        FROM CuonSach cs WITH (UPDLOCK, ROWLOCK)
        JOIN @p_DanhSachCuonSach d ON cs.MaCuonSach = d.MaCuonSach
        WHERE cs.TrangThai <> 'CoSan';
        IF @v_SoLuongKhongSan > 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: có ít nhất 1 cuốn sách trong danh sách hiện không sẵn có' AS ThongBao;
            RETURN;
        END

        -- Kiểm tra mượn trùng đầu sách trong danh sách yêu cầu
        IF EXISTS (
            SELECT cs.MaSach
            FROM CuonSach cs WITH (UPDLOCK, ROWLOCK)
            JOIN @p_DanhSachCuonSach d ON cs.MaCuonSach = d.MaCuonSach
            GROUP BY cs.MaSach
            HAVING COUNT(*) > 1
        )
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: Không được mượn nhiều bản sao của cùng một đầu sách trong một lần mượn' AS ThongBao;
            RETURN;
        END

        -- Kiểm tra mượn trùng đầu sách với các sách ĐANG MƯỢN của độc giả
        IF EXISTS (
            SELECT 1
            FROM CuonSach cs_new WITH (UPDLOCK, ROWLOCK)
            JOIN @p_DanhSachCuonSach d ON cs_new.MaCuonSach = d.MaCuonSach
            JOIN CT_PhieuMuon ct ON ct.TinhTrangSachKhiTra = 'ChuaTra'
            JOIN PhieuMuon pm ON pm.MaPhieuMuon = ct.MaPhieuMuon
            JOIN CuonSach cs_old ON cs_old.MaCuonSach = ct.MaCuonSach
            WHERE pm.MaDG = @p_MaDG AND cs_old.MaSach = cs_new.MaSach
        )
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: Độc giả đang mượn một bản sao của đầu sách này rồi, không được mượn thêm' AS ThongBao;
            RETURN;
        END

        INSERT INTO PhieuMuon (MaPhieuMuon, MaDG, MaNV, NgayMuon, NgayHenTra, TrangThai)
        VALUES (@p_MaPhieuMuon, @p_MaDG, @p_MaNV, CAST(GETDATE() AS DATE), @p_NgayHenTra, 'DangMuon');
        INSERT INTO CT_PhieuMuon (MaPhieuMuon, MaCuonSach, TinhTrangSachKhiTra)
        SELECT @p_MaPhieuMuon, d.MaCuonSach, 'ChuaTra'
        FROM @p_DanhSachCuonSach d;
        COMMIT TRANSACTION;
        SELECT N'Lập phiếu mượn thành công' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Giao tác lập phiếu mượn thất bại, đã rollback' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LapPhieuMuon_Deadlock]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =========================================================================
-- STORED PROCEDURE: sp_LapPhieuMuon_Deadlock
-- Mục đích: Mô phỏng nghiệp vụ Lập Phiếu Mượn thực tế gây ra xung đột Deadlock
-- Cơ chế: Khóa tài nguyên theo đúng thứ tự quét mã vạch của thủ thư
--         (KHÔNG áp dụng Ordering Protocol) và giả lập thời gian trễ hệ thống.
-- =========================================================================
CREATE   PROCEDURE [dbo].[sp_LapPhieuMuon_Deadlock]
    @p_MaPhieuMuon      VARCHAR(10),
    @p_MaDG             VARCHAR(10),
    @p_MaNV             VARCHAR(10), 
    @p_NgayHenTra       DATE,
    @p_DanhSachCuonSach dbo.DanhSachCuonSachType READONLY,
    @p_DelayGiay        INT = 5   -- Giả lập độ trễ giữa các lần khóa sách (mặc định 5s để dễ demo)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @v_DieuKien NVARCHAR(200);
    DECLARE @v_SoLuongKhongSan INT;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- =====================================================================
        -- 1. KHÓA TÀI NGUYÊN THEO THỨ TỰ QUÉT MÃ VẠCH (NGUYÊN NHÂN GÂY DEADLOCK)
        -- Sử dụng CURSOR để duyệt tuần tự từng cuốn sách theo đúng thứ tự nhập vào
        -- =====================================================================
        DECLARE @cur_MaCuonSach VARCHAR(10);
        DECLARE cur_Books CURSOR LOCAL FOR 
            SELECT MaCuonSach FROM @p_DanhSachCuonSach;
            
        OPEN cur_Books;
        FETCH NEXT FROM cur_Books INTO @cur_MaCuonSach;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Xin khóa cập nhật độc quyền (UPDLOCK, ROWLOCK) trên từng cuốn sách
            DECLARE @dummy VARCHAR(10);
            SELECT @dummy = MaCuonSach 
            FROM CuonSach WITH (UPDLOCK, ROWLOCK)
            WHERE MaCuonSach = @cur_MaCuonSach;

            -- Giả lập độ trễ hệ thống (in phiếu / gọi API / tải nặng)
            -- Tạo khoảng trống thời gian cho quầy khác chen vào xin khóa
            IF @p_DelayGiay > 0
            BEGIN
                DECLARE @waitStr VARCHAR(8) = '00:00:' + RIGHT('0' + CAST(@p_DelayGiay AS VARCHAR(2)), 2);
                WAITFOR DELAY @waitStr;
            END

            FETCH NEXT FROM cur_Books INTO @cur_MaCuonSach;
        END
        
        CLOSE cur_Books;
        DEALLOCATE cur_Books;

        -- =====================================================================
        -- 2. CÁC BƯỚC KIỂM TRA RÀNG BUỘC NGHIỆP VỤ
        -- =====================================================================
        -- B1: Kiểm tra điều kiện mượn của độc giả
        SET @v_DieuKien = dbo.fn_KiemTraDuDieuKienMuon(@p_MaDG);
        IF @v_DieuKien <> N'Đủ điều kiện mượn sách'
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT @v_DieuKien AS ThongBao, 0 AS IsSuccess, 1 AS ErrorCode;
            RETURN;
        END

        -- B2: Kiểm tra toàn bộ cuốn sách trong danh sách có sẵn để mượn không
        SELECT @v_SoLuongKhongSan = COUNT(*)
        FROM CuonSach cs WITH (UPDLOCK, ROWLOCK)
        JOIN @p_DanhSachCuonSach d ON cs.MaCuonSach = d.MaCuonSach
        WHERE cs.TrangThai <> 'CoSan';

        IF @v_SoLuongKhongSan > 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: có ít nhất 1 cuốn sách trong danh sách hiện không sẵn có' AS ThongBao, 0 AS IsSuccess, 2 AS ErrorCode;
            RETURN;
        END

        -- B3: Kiểm tra mượn trùng đầu sách trong danh sách yêu cầu
        IF EXISTS (
            SELECT cs.MaSach
            FROM CuonSach cs WITH (UPDLOCK, ROWLOCK)
            JOIN @p_DanhSachCuonSach d ON cs.MaCuonSach = d.MaCuonSach
            GROUP BY cs.MaSach
            HAVING COUNT(*) > 1
        )
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: Không được mượn nhiều bản sao của cùng một đầu sách trong một lần mượn' AS ThongBao, 0 AS IsSuccess, 3 AS ErrorCode;
            RETURN;
        END

        -- B4: Kiểm tra mượn trùng đầu sách với các sách ĐANG MƯỢN của độc giả
        IF EXISTS (
            SELECT 1
            FROM CuonSach cs_new WITH (UPDLOCK, ROWLOCK)
            JOIN @p_DanhSachCuonSach d ON cs_new.MaCuonSach = d.MaCuonSach
            JOIN CT_PhieuMuon ct ON ct.TinhTrangSachKhiTra = 'ChuaTra'
            JOIN PhieuMuon pm ON pm.MaPhieuMuon = ct.MaPhieuMuon
            JOIN CuonSach cs_old ON cs_old.MaCuonSach = ct.MaCuonSach
            WHERE pm.MaDG = @p_MaDG AND cs_old.MaSach = cs_new.MaSach
        )
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: Độc giả đang mượn một bản sao của đầu sách này rồi, không được mượn thêm' AS ThongBao, 0 AS IsSuccess, 4 AS ErrorCode;
            RETURN;
        END

        -- =====================================================================
        -- 3. GHI NHẬN GIAO DỊCH VÀO CSDL
        -- =====================================================================
        INSERT INTO PhieuMuon (MaPhieuMuon, MaDG, MaNV, NgayMuon, NgayHenTra, TrangThai)
        VALUES (@p_MaPhieuMuon, @p_MaDG, @p_MaNV, CAST(GETDATE() AS DATE), @p_NgayHenTra, 'DangMuon');

        INSERT INTO CT_PhieuMuon (MaPhieuMuon, MaCuonSach, TinhTrangSachKhiTra)
        SELECT @p_MaPhieuMuon, d.MaCuonSach, 'ChuaTra'
        FROM @p_DanhSachCuonSach d;

        UPDATE cs
        SET cs.TrangThai = 'DangMuon'
        FROM CuonSach cs
        JOIN @p_DanhSachCuonSach d ON cs.MaCuonSach = d.MaCuonSach;

        COMMIT TRANSACTION;
        SELECT N'Lập phiếu mượn thành công' AS ThongBao, 1 AS IsSuccess, 0 AS ErrorCode;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS ThongBao, 0 AS IsSuccess, ERROR_NUMBER() AS ErrorCode;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NhanSachDatTruoc]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_NhanSachDatTruoc]
    @p_MaPhieuDatTruoc VARCHAR(10),
    @p_MaCuonSach      VARCHAR(10),
    @p_MaPhieuMuon     VARCHAR(10),
    @p_MaNV            VARCHAR(10),
    @p_NgayHenTra      DATE
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @v_MaDG      VARCHAR(10);
    DECLARE @v_MaSach    VARCHAR(10);
    DECLARE @v_TrangThai VARCHAR(20);
    DECLARE @v_DieuKien  NVARCHAR(200);
    BEGIN TRY
        BEGIN TRANSACTION;
        -- 1. Kiểm tra phiếu đặt trước có hợp lệ ở trạng thái 'ChoNhan' không
        SELECT @v_MaDG = MaDG, @v_MaSach = MaSach, @v_TrangThai = TrangThai
        FROM PhieuDatTruoc WITH (UPDLOCK, ROWLOCK)
        WHERE MaPhieuDatTruoc = @p_MaPhieuDatTruoc;
        IF @v_TrangThai IS NULL OR @v_TrangThai <> 'ChoNhan'
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: Phiếu đặt trước không tồn tại hoặc chưa có sách sẵn sàng để nhận' AS ThongBao;
            RETURN;
        END
        -- 2. Kiểm tra điều kiện mượn tổng quát của độc giả (đang mượn dưới 3 cuốn)
        SET @v_DieuKien = dbo.fn_KiemTraDuDieuKienMuon(@v_MaDG);
        IF @v_DieuKien <> N'Đủ điều kiện mượn sách'
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT @v_DieuKien AS ThongBao;
            RETURN;
        END
        IF @p_MaCuonSach IS NULL OR LTRIM(RTRIM(@p_MaCuonSach)) = ''
        BEGIN
            SELECT TOP 1 @p_MaCuonSach = MaCuonSach
            FROM CuonSach WITH (UPDLOCK, ROWLOCK)
            WHERE MaSach = @v_MaSach AND TrangThai = 'GiuCho';
        END
        -- 3. Kiểm tra cuốn sách có đang ở trạng thái 'GiuCho' không
        IF NOT EXISTS (SELECT 1 FROM CuonSach WHERE MaCuonSach = @p_MaCuonSach AND MaSach = @v_MaSach AND TrangThai = 'GiuCho')
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Lỗi: Cuốn sách này không ở trạng thái Giữ chỗ hoặc không thuộc đầu sách đã đặt' AS ThongBao;
            RETURN;
        END
        -- 4. Lập Phiếu mượn chính thức (Lúc này mới bắt đầu tính ngày mượn)
        INSERT INTO PhieuMuon (MaPhieuMuon, MaDG, MaNV, NgayMuon, NgayHenTra, TrangThai)
        VALUES (@p_MaPhieuMuon, @v_MaDG, @p_MaNV, CAST(GETDATE() AS DATE), @p_NgayHenTra, 'DangMuon');
        -- 5. Lập chi tiết phiếu mượn
        INSERT INTO CT_PhieuMuon (MaPhieuMuon, MaCuonSach, TinhTrangSachKhiTra)
        VALUES (@p_MaPhieuMuon, @p_MaCuonSach, 'ChuaTra');
        -- 6. Cập nhật trạng thái cuốn sách thành 'DangMuon'
        UPDATE CuonSach SET TrangThai = 'DangMuon' WHERE MaCuonSach = @p_MaCuonSach;
        -- 7. Hoàn tất phiếu đặt trước ('DaXuLy')
        UPDATE PhieuDatTruoc SET TrangThai = 'DaXuLy' WHERE MaPhieuDatTruoc = @p_MaPhieuDatTruoc;
        COMMIT TRANSACTION;
        SELECT N'Độc giả đã nhận sách và lập phiếu mượn thành công!' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Nhận sách đặt trước thất bại' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoPhieuPhatNhanh]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_TaoPhieuPhatNhanh]
    @p_MaPhieuPhat VARCHAR(10) = 'PP999',
    @p_SoTienPhat  DECIMAL(18,0) = 50000
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @v_MaPM VARCHAR(10);
        SELECT TOP 1 @v_MaPM = MaPhieuMuon FROM PhieuMuon;

        IF EXISTS (SELECT 1 FROM PhieuPhat WHERE MaPhieuPhat = @p_MaPhieuPhat)
            DELETE FROM PhieuPhat WHERE MaPhieuPhat = @p_MaPhieuPhat;

        INSERT INTO PhieuPhat (MaPhieuPhat, MaPhieuMuon, LyDoPhat, SoTienPhat, NgayLap, TrangThaiThanhToan)
        VALUES (@p_MaPhieuPhat, @v_MaPM, N'Phạt hư hỏng nhẹ', @p_SoTienPhat, CAST(GETDATE() AS DATE), 'ChuaThanhToan');

        COMMIT TRANSACTION;
        SELECT N'Đã phát sinh phiếu phạt mới: ' + @p_MaPhieuPhat AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThanhToanPhat]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Giao tác 5: Thanh toán phiếu phạt
CREATE   PROCEDURE [dbo].[sp_ThanhToanPhat]
    @p_MaPhieuPhat VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        
        UPDATE PhieuPhat
        SET TrangThaiThanhToan = 'DaThanhToan'
        WHERE MaPhieuPhat = @p_MaPhieuPhat AND TrangThaiThanhToan = 'ChuaThanhToan';
        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT N'Phiếu phạt không tồn tại hoặc đã thanh toán rồi' AS ThongBao;
        END
        ELSE
        BEGIN
            COMMIT TRANSACTION;
            SELECT N'Thanh toán thành công' AS ThongBao;
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Thanh toán thất bại' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Top5SachMuonNhieu]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP 2: Top 5 sách được mượn nhiều nhất
CREATE   PROCEDURE [dbo].[sp_Top5SachMuonNhieu]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP 5 s.TenSach, COUNT(ct.MaCuonSach) AS SoLuotMuon
    FROM PhieuMuon pm
    JOIN CT_PhieuMuon ct ON pm.MaPhieuMuon = ct.MaPhieuMuon
    JOIN CuonSach cs ON ct.MaCuonSach = cs.MaCuonSach
    JOIN Sach s ON cs.MaSach = s.MaSach
    GROUP BY s.MaSach, s.TenSach
    ORDER BY SoLuotMuon DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TraCuuSach]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Cập nhật SP Tra Cứu Sách hỗ trợ Unicode đầy đủ
CREATE   PROCEDURE [dbo].[sp_TraCuuSach]
    @p_TuKhoa NVARCHAR(100) = N''
AS
BEGIN
    SET NOCOUNT ON;
    SELECT s.MaSach, s.TenSach, 
           ISNULL(tg.TenTacGia, N'Chưa rõ') AS TenTacGia, 
           ISNULL(tl.TenTheLoai, N'Khác') AS TenTheLoai, 
           ISNULL(v.SoBanConTrong, 0) AS SoBanConTrong
    FROM Sach s
    LEFT JOIN Sach_TacGia stg ON s.MaSach = stg.MaSach     
    LEFT JOIN TacGia tg ON stg.MaTacGia = tg.MaTacGia      
    LEFT JOIN TheLoai tl ON s.MaTheLoai = tl.MaTheLoai
    LEFT JOIN View_SachConTrong v ON s.MaSach = v.MaSach
    WHERE @p_TuKhoa IS NULL OR @p_TuKhoa = ''
       OR s.MaSach LIKE N'%' + @p_TuKhoa + N'%'
       OR s.TenSach LIKE N'%' + @p_TuKhoa + N'%' 
       OR tg.TenTacGia LIKE N'%' + @p_TuKhoa + N'%'
       OR tl.TenTheLoai LIKE N'%' + @p_TuKhoa + N'%';
END

GO
/****** Object:  StoredProcedure [dbo].[sp_TraCuuSach_DirtyRead]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- GIAIPHAP CHO KICHBAN2
CREATE   PROCEDURE [dbo].[sp_TraCuuSach_DirtyRead]
    @p_MaCuonSach VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

    SELECT 
        c.MaCuonSach, 
        s.TenSach, 
        c.TrangThai, 
        c.TinhTrang,
        c.ViTriKe
    FROM CuonSach c
    JOIN Sach s ON c.MaSach = s.MaSach
    WHERE c.MaCuonSach = @p_MaCuonSach;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TraSach]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Giao tác 2: Trả sách kèm phát sinh phạt (ĐÃ SỬA LỖI CẬP NHẬT NGÀY TRẢ)
CREATE   PROCEDURE [dbo].[sp_TraSach]
    @p_MaPhieuMuon      VARCHAR(10),
    @p_DanhSachTraSach  dbo.DanhSachTraSachType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @v_NgayHenTra DATE;
    DECLARE @v_SoNgayTre INT;
    DECLARE @v_MaPhieuPhat VARCHAR(10);
    BEGIN TRY
        BEGIN TRANSACTION;
        SELECT @v_NgayHenTra = NgayHenTra
        FROM PhieuMuon WITH (UPDLOCK, ROWLOCK)
        WHERE MaPhieuMuon = @p_MaPhieuMuon;
        SET @v_SoNgayTre = DATEDIFF(DAY, @v_NgayHenTra, CAST(GETDATE() AS DATE));
        -- Chỉ cập nhật trạng thái ở PhieuMuon
        UPDATE PhieuMuon
        SET TrangThai = 'DaTra'
        WHERE MaPhieuMuon = @p_MaPhieuMuon;
        -- Cập nhật cả tình trạng VÀ ngày trả ở CT_PhieuMuon
        UPDATE ct
        SET ct.TinhTrangSachKhiTra = d.TinhTrang,
            ct.NgayTraThucTe = CAST(GETDATE() AS DATE)
        FROM CT_PhieuMuon ct
        JOIN @p_DanhSachTraSach d ON ct.MaCuonSach = d.MaCuonSach
        WHERE ct.MaPhieuMuon = @p_MaPhieuMuon;
        UPDATE cs
        SET cs.TinhTrang = d.TinhTrang,
            cs.TrangThai = CASE WHEN d.TinhTrang = 'ConTot' THEN 'CoSan' ELSE 'DangSua' END
        FROM CuonSach cs
        JOIN @p_DanhSachTraSach d ON cs.MaCuonSach = d.MaCuonSach;
        IF @v_SoNgayTre > 0
        BEGIN
            SET @v_MaPhieuPhat = CONCAT('PP', RIGHT('0000' + CAST(FLOOR(RAND()*9999) AS VARCHAR(4)), 4));
            
            INSERT INTO PhieuPhat (MaPhieuPhat, MaPhieuMuon, LyDoPhat, SoTienPhat, NgayLap, TrangThaiThanhToan)
            VALUES (@v_MaPhieuPhat, @p_MaPhieuMuon, 'TreHan', 
                    dbo.fn_TinhTienPhatTreHan(@v_SoNgayTre), CAST(GETDATE() AS DATE), 'ChuaThanhToan');
        END
        INSERT INTO PhieuPhat (MaPhieuPhat, MaPhieuMuon, LyDoPhat, SoTienPhat, NgayLap, TrangThaiThanhToan)
        SELECT 
            CONCAT('PP', RIGHT('0000' + CAST(FLOOR(RAND()*9999) AS VARCHAR(4)), 4)),
            @p_MaPhieuMuon,
            CASE WHEN d.TinhTrang = 'Mat' THEN 'MatSach' ELSE 'HuHong' END,
            CASE WHEN d.TinhTrang = 'Mat' THEN 100000 ELSE 30000 END,
            CAST(GETDATE() AS DATE),
            'ChuaThanhToan'
        FROM @p_DanhSachTraSach d
        WHERE d.TinhTrang IN ('HuHong', 'Mat');
        COMMIT TRANSACTION;
        SELECT N'Trả sách thành công' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Giao tác trả sách thất bại, đã rollback' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XacThucDangNhap]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Stored Procedures & Transactions chuẩn hóa
CREATE   PROCEDURE [dbo].[sp_XacThucDangNhap]
    @p_TenDangNhap VARCHAR(50),
    @p_MatKhau     VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    IF NOT EXISTS (
        SELECT 1
        FROM View_TaiKhoan_Role v
        JOIN TaiKhoan tk ON v.MaTaiKhoan = tk.MaTaiKhoan
        WHERE v.TenDangNhap = @p_TenDangNhap AND tk.MatKhau = @p_MatKhau
    )
    BEGIN
        SELECT 0 AS KetQua, N'Tên đăng nhập hoặc mật khẩu không chính xác!' AS ThongBao;
        RETURN;
    END

    SELECT 1 AS KetQua,
           v.MaTaiKhoan, v.TenDangNhap, v.MaRole, v.TenRole, v.TrangThai,
           dg.MaDG, dg.HoTen AS TenDocGia,
           nv.MaNV, nv.HoTen AS TenNhanVien
    FROM View_TaiKhoan_Role v
    JOIN TaiKhoan tk ON v.MaTaiKhoan = tk.MaTaiKhoan
    LEFT JOIN DocGia dg ON v.MaTaiKhoan = dg.MaTaiKhoan
    LEFT JOIN NhanVien nv ON v.MaTaiKhoan = nv.MaTaiKhoan
    WHERE v.TenDangNhap = @p_TenDangNhap AND tk.MatKhau = @p_MatKhau;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaDauSach]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_XoaDauSach]
    @p_MaSach VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF NOT EXISTS (SELECT 1 FROM Sach WITH (UPDLOCK) WHERE MaSach = @p_MaSach)
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS KetQua, N'Lỗi: Đầu sách không tồn tại trong hệ thống!' AS ThongBao;
            RETURN;
        END

        IF EXISTS (
            SELECT 1 
            FROM CuonSach cs
            JOIN CT_PhieuMuon ct ON cs.MaCuonSach = ct.MaCuonSach
            WHERE cs.MaSach = @p_MaSach AND ct.TinhTrangSachKhiTra = 'ChuaTra'
        )
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS KetQua, N'Không thể xóa: Hiện vẫn còn bản sao của đầu sách này đang được mượn chưa trả!' AS ThongBao;
            RETURN;
        END

        IF EXISTS (
            SELECT 1 
            FROM PhieuDatTruoc 
            WHERE MaSach = @p_MaSach AND TrangThai IN ('DangCho', 'ChoNhan')
        )
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS KetQua, N'Không thể xóa: Đầu sách này đang có độc giả đặt trước chưa xử lý xong!' AS ThongBao;
            RETURN;
        END

        DELETE FROM CuonSach WHERE MaSach = @p_MaSach;
        DELETE FROM Sach WHERE MaSach = @p_MaSach;

        COMMIT TRANSACTION;
        SELECT 1 AS KetQua, N'Đã xóa đầu sách và các bản sao thành công!' AS ThongBao;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 0 AS KetQua, ERROR_MESSAGE() AS ThongBao;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyDatTruocKhiCoSach]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_XuLyDatTruocKhiCoSach]
    @p_MaCuonSach VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @v_MaSach          VARCHAR(10);
    DECLARE @v_MaPhieuDatTruoc VARCHAR(10);
    DECLARE @v_MaDG            VARCHAR(10);
    BEGIN TRY
        BEGIN TRANSACTION;
        -- 1. Xác định đầu sách của cuốn sách này
        SELECT @v_MaSach = MaSach
        FROM CuonSach WITH (UPDLOCK, ROWLOCK)
        WHERE MaCuonSach = @p_MaCuonSach;
        -- 2. Tìm người đặt trước sớm nhất đang ở trạng thái 'DangCho'
        SELECT TOP 1 
            @v_MaPhieuDatTruoc = MaPhieuDatTruoc,
            @v_MaDG = MaDG
        FROM PhieuDatTruoc WITH (UPDLOCK, ROWLOCK)
        WHERE MaSach = @v_MaSach AND TrangThai = 'DangCho'
        ORDER BY NgayDat ASC;
        IF @v_MaPhieuDatTruoc IS NULL
        BEGIN
            -- Không có ai đặt trước -> Chuyển sách về trạng thái có sẵn bình thường
            UPDATE CuonSach SET TrangThai = 'CoSan' WHERE MaCuonSach = @p_MaCuonSach;
            COMMIT TRANSACTION;
            SELECT N'Không có ai đặt trước cuốn này. Sách đã được trả về kệ có sẵn.' AS ThongBao;
        END
        ELSE
        BEGIN
            -- Chuyển cuốn sách sang trạng thái 'GiuCho' (Cất riêng tại quầy dịch vụ)
            UPDATE CuonSach SET TrangThai = 'GiuCho' WHERE MaCuonSach = @p_MaCuonSach;
            -- Chuyển phiếu đặt trước sang 'ChoNhan' (Hẹn độc giả đến lấy)
            UPDATE PhieuDatTruoc 
            SET TrangThai = 'ChoNhan'
            WHERE MaPhieuDatTruoc = @v_MaPhieuDatTruoc;
            COMMIT TRANSACTION;
            SELECT CONCAT(N'Đã chuyển sách ', @p_MaCuonSach, N' sang trạng thái GIỮ CHỖ cho độc giả ', @v_MaDG) AS ThongBao;
        END
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT N'Lỗi: Xử lý giữ chỗ thất bại' AS ThongBao, ERROR_MESSAGE() AS ChiTietLoi;
    END CATCH
END
GO
/****** Object:  Trigger [dbo].[trg_CapNhatCuonSachSauKhiMuon]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger 2: Tự động cập nhật trạng thái CuonSach ngay sau khi tạo phiếu mượn
CREATE   TRIGGER [dbo].[trg_CapNhatCuonSachSauKhiMuon]
ON [dbo].[CT_PhieuMuon]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE cs
    SET cs.TrangThai = 'DangMuon'
    FROM CuonSach cs
    JOIN inserted i ON cs.MaCuonSach = i.MaCuonSach;
END
GO
ALTER TABLE [dbo].[CT_PhieuMuon] ENABLE TRIGGER [trg_CapNhatCuonSachSauKhiMuon]
GO
/****** Object:  Trigger [dbo].[trg_KiemTraTruocKhiMuon]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   TRIGGER [dbo].[trg_KiemTraTruocKhiMuon] ON [dbo].[CT_PhieuMuon]
INSTEAD OF INSERT AS BEGIN SET NOCOUNT ON; 
IF EXISTS (SELECT 1 FROM inserted i JOIN CuonSach cs ON cs.MaCuonSach = i.MaCuonSach 
WHERE cs.TrangThai NOT IN ('CoSan', 'GiuCho')) 
	BEGIN RAISERROR(N'Cuốn sách này hiện không sẵn có để mượn', 16, 1); 
	RETURN; 
	END 
INSERT INTO CT_PhieuMuon (MaPhieuMuon, MaCuonSach, TinhTrangSachKhiTra) 
SELECT MaPhieuMuon, MaCuonSach, TinhTrangSachKhiTra FROM inserted;
END
GO
ALTER TABLE [dbo].[CT_PhieuMuon] ENABLE TRIGGER [trg_KiemTraTruocKhiMuon]
GO
/****** Object:  Trigger [dbo].[trg_TuDongKhoaThe]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger 4: Tự động khóa tài khoản khi độc giả có từ 3 phiếu phạt chưa thanh toán trở lên
CREATE   TRIGGER [dbo].[trg_TuDongKhoaThe]
ON [dbo].[PhieuPhat]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    ;WITH DocGiaBiAnhHuong AS (
        SELECT DISTINCT dg.MaDG
        FROM inserted i
        JOIN PhieuMuon pm ON pm.MaPhieuMuon = i.MaPhieuMuon
        JOIN DocGia dg ON dg.MaDG = pm.MaDG
    ),
    SoPhieuPhatChuaTra AS (
        SELECT pm.MaDG, COUNT(*) AS SoLuong
        FROM PhieuPhat pp
        JOIN PhieuMuon pm ON pp.MaPhieuMuon = pm.MaPhieuMuon
        WHERE pp.TrangThaiThanhToan = 'ChuaThanhToan'
          AND pm.MaDG IN (SELECT MaDG FROM DocGiaBiAnhHuong)
        GROUP BY pm.MaDG
    )
    UPDATE dg
    SET dg.TrangThai = 'TamKhoa'
    FROM DocGia dg
    JOIN SoPhieuPhatChuaTra s ON dg.MaDG = s.MaDG
    WHERE s.SoLuong >= 3;
END
GO
ALTER TABLE [dbo].[PhieuPhat] ENABLE TRIGGER [trg_TuDongKhoaThe]
GO
/****** Object:  Trigger [dbo].[trg_NganXoaSachDangMuon]    Script Date: 9/14/2026 1:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Trigger 3: Ngăn xóa đầu sách khi vẫn còn bản sao đang được mượn
CREATE   TRIGGER [dbo].[trg_NganXoaSachDangMuon]
ON [dbo].[Sach]
INSTEAD OF DELETE
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (
        SELECT 1 FROM deleted d
        JOIN CuonSach cs ON cs.MaSach = d.MaSach
        WHERE cs.TrangThai = 'DangMuon'
    )
    BEGIN
        RAISERROR(N'Không thể xóa: vẫn còn bản sao của sách này đang được mượn', 16, 1);
        RETURN;
    END
    DELETE s
    FROM Sach s
    JOIN deleted d ON s.MaSach = d.MaSach;
END
GO
ALTER TABLE [dbo].[Sach] ENABLE TRIGGER [trg_NganXoaSachDangMuon]
GO
USE [master]
GO
